html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(48, 48, 48);
}

/* Header Styling */
header {
    padding: 0 1.5rem;
    height: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* (Logo Styling) */
#logo {
    display: inline-flex;
    height: 2rem;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 0.03125rem;
}

#logo #Colmar {
    font-weight: bold;
}

/* (Nav Styling) */
nav {
    display: inline-flex;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin-left: 1rem;
    display: inline flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

/* Left and Right Container Styling */
.left {
    display: inline-block;
    width: 60%;
    padding: 2rem 1.5rem;
}

.right {
    display: inline-flex;   
    flex-direction: column;
    justify-content: space-around; 
    width: 40%;
}

/* Banner Styling */
#banner {
    display: flex;
    background-color: lightgray;
    align-items: center;
}

#banner img {
    width: 100%;
}

#banner .right {
    padding-right: 10%;
}

#banner button {
    text-align: center;
    color: white;

    background-color: rgb(48, 48, 48);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    
    width: 100%;
}