html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(48, 48, 48);
}

p {
    color: gray;
}

a {
    color: rgb(48, 48, 48);
    text-decoration: none;
}

/* Header Styling */
header {
    padding: 0 1.5rem;
    height: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* (Logo Styling) */
#logo {
    display: inline-flex;
    height: 2rem;
    text-transform: uppercase;
    align-items: center;
    letter-spacing: 0.03125rem;
}

#logo #Colmar {
    font-weight: bold;
}

/* (Nav Styling) */
nav {
    display: inline-flex;
}

nav ul {
    list-style-type: none;
}

nav li {
    margin-left: 1rem;
    display: inline flex;
    align-items: center;
}

/* Left and Right Container Styling */
.left {
    display: inline-block;
    width: 60%;
    padding: 2rem 1.5rem;
}

.right {
    display: inline-block;   
    width: 40%;
}

/* Banner Styling */
#banner {
    display: flex;
    background-color: lightgray;
    align-items: center;
}

#banner img {
    width: 100%;
}

#banner .right {
    flex-direction: column;
    justify-content: space-around; 
    padding-right: 10%;
}

#banner button {
    text-align: center;
    color: white;

    background-color: rgb(48, 48, 48);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
    
    width: 100%;
}

/* Information Styling */
#information {
    display: flex;
    align-items: start;
}

#information img {
    width: 100%;
}

#information .left p {
    padding-top: 1.5rem;
}

#information .left {
    border-right: 0.0625rem solid rgba(211, 211, 211, 0.5);
}

.info-block {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    border-bottom: 0.0625rem solid rgba(211, 211, 211, 0.5);
}

#information .right img {
    display: inline-block;
    width: 35%;
    margin: 1rem;
}

#information .right .info-text {
    display: inline-block;
    width: 65%;
}

#information .right h3, #information .right p, #information .right a {
    margin-bottom: 0.5rem;
}

/* Courses Styling */

/* Thesis Styling */
#thesis-heading {
    text-align: center;
}

#thesis {
    display: flex;
    align-items: start;
}

#thesis video {
    width: 100%;
}

#thesis h3, #thesis p {
    margin-bottom: 0.5rem;
}

.thesis-block {
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

#thesis .right img {
    display: inline-block;
    width: 35%;
    margin: 1rem;
}

#thesis .right .thesis-text {
    display: inline-block;
    width: 65%;
}

/* Footer Styling */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    border-top: 0.0625rem solid rgba(211, 211, 211, 0.5);
}

.footer-right {
    display: block;
}

.footer-right a {
    color: gray;
    margin-left: 0.5rem;
}